

/* column hack */


/*------------------*/


html{
    font-family:Arial;
    height:100%;
    overflow:hidden;
}

body {
    padding-top: 78px;
}

.padding-left-remove{
    padding-left:0px !important;
}

.padding-right-remove {
    padding-right: 0px !important;
}

/*Main Nav Bar*/
.navbar-main-custom {
    background-color: #C10000 !important;
    font-size: 18px;
    border-bottom: none !important;
    margin: 0;
    border-radius: 0;
    min-height:71px;
}

#brandText {
    color: white;
    line-height:200%;
    margin:0;
}

#mainNav{
    list-style-type:none;
    color:white;
    padding:0;
    margin:0;
}

/* Sub Nav Bar*/

.navbar-sub-custom {
    background-color: #303030;
    min-width: 100%;
    border-radius: 0;
    color:white;
    line-height:35px;
}

#addACompany {
    text-decoration: none;
    color: #ccc;
    font-size: 16px;
    float: right;
    margin: 0;
    padding:0 10px;
}

#companyNameSubNav {
    font-style: italic;
    text-decoration: underline;
    margin: 0;
    font-size:14px;
}

#addACompany:hover {
    background-color: #606060;
    cursor: pointer;
}

/* Company Sidebar*/

.custom_sidebar_color {
    background-color: #eaeaea;
}

#ims-sidebar-wrapper {
    margin: 0;
    height: calc(100vh - 85px);
    background-color: #eaeaea;
    min-width: 100%;
    overflow-y: scroll;

}

#ims-sidebar {
    width: 100%;
}


#countySelectionContainer {
    margin-bottom:15px;
    padding-bottom: 5px;
    border-bottom:1px solid #ccc;
    padding:0 10px 5px 10px;
}

#countySelectionContainer select{
    min-width:100%;
}

/*Dynamic Company's*/
.companyContainer {
    padding-left: 10px;
}


.companyBody{
    width:100%;
    padding-left:10px;
}

.companyHeader{
    text-decoration:underline;
}

.item {
    width: 75px;
    height: 35px;
    background-color: #C10000;
    color: white;
    cursor: move;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
}

/*Company Table*/

#companyTable{

}

#companyTable{
    margin:10px 0 0 10px;
    padding:0 10px 0 0;
    
}

#companyTable tr th {
    background-color: #303030;
    min-height: 40px;
    max-width:100px;
    color: white;
    text-align: center;
    padding: 0px 10px;
    border: 1px solid #303030;
    width:100px;
    text-wrap:normal;
    font-weight:100;
}
.companyBody div{
    margin-bottom:5px;
}

#companyTable tr td {
    border: 1px solid #303030;
    min-height:45px;
    height:45px;
}

#companyTable tr{
    min-height:40px;
}

/*Timer*/

#timerWrapper, #timer, #timerText {
    color: white;
}

#timerWrapper{
    padding:8px 0;
    max-width:200px;
}

#timer {
    background-color: #303030;
    padding: 0;
}

#timerText{
    padding:2px 0 0 0;
    margin:0 10px 0 0 !important;
    display:inline-block;
}

.timerButton{
    background-color:white;
    border:none;
    display:inline-block;
    color:black;
    width:100%;
    height:100%;
}

.timerButton:hover {
    background-color: #4CAF50;
    border: none;
    display: inline-block;
    color: white;
    width: 100%;
    height: 100%;
}

/*popup*/

.popupWrapper{
    background-color:#fff;
    max-width:400px;
    max-height:100px;
    margin:auto;
    display:block;
}

#popupContainer{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    position:absolute;
    top:0;
    left:0;
    z-index:12345;
    background-color:rgba(0,0,0,.5);
}

.popupHeader {
    background-color: #303030;
    color:#fff;
    padding:10px 0;
    font-weight:bold;
    text-align:center;
}
.popupBody{
    background-color:#fff;
    padding:10px 20px;
}

.popupImage img {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 32px;
    padding:10px 0 0 0;
}

.popupButtonContainer{
    border-top:1px solid #c4c4c4;
    padding:10px 0;
    margin:0 20px 0;
}

.popupButtonContainer button {
    margin: 0 auto;
}

/*button*/

.button,
.button:focus,
.button:visited,
.button:link,
.button:hover,
.button:active {
    text-align: center;
    display: block;
    background-color: #303030;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    max-width: 100px;
    border: 2px solid #303030;
}


.button:hover {
    background-color: #fff;
    border:2px solid #303030;
    color: #303030;
    font-weight:600;
}

.hidden{
    display:none;
}