

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}










html{
    min-height:100%;
    overflow:auto;
}
body {
    margin-top: 50px;
    min-height: 100%;
}

.margin-left-remove {
    margin-left: 0 !important;
}

.padding-left-remove {
    padding-left: 0 !important;
}

#companyName {
    color: white;
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
}

/*Nav bar and Sub Nav Bar*/

.navbar-custom {
    background-color: #C10000 !important;
    font-size:18px;
    border-bottom:none !important;
    position:absolute;
    width:100%;
    top:0;
    border:0;
    border-radius:0;
}

.navbar-text-white{
    color:white !important;
}

.subnavbar{
    background-color:#303030;
    width:100%;
    height:35px;
    
}

/*Sidebar that lists companies*/
#ims_sidebar {
    background-color: #eaeaea;
    width: 250px;
    height:100%;
    position:fixed;
    overflow-x: hidden;
    z-index: 1;
    padding: 0 15px;
    overflow-y:scroll;
    display:inline-block;
    margin:0;
}

#ims_sidebar-wrapper {
    width:250px;
    margin:0;
    padding:0;
}

#county-selectbox{
    text-align:center;
    width:95%;
    height:35px;
    margin:0;
    padding:0;
    margin-bottom:5px;
    margin-left:2.5%;
}
#countySelectionContainer {
    margin: 0 2.5%;
    padding: 0;
    border-bottom: 2px solid #cccccc;
}
#companySidebarContainer {
    margin-top: 25px;
}
#companySidebarSubContainer{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    margin-left:25px;
}
#spacer {
    margin-bottom: 100px;
}
.companyContainer {
    margin-top: 12px;
    height:100%;
    width:100%;
}
.companyBody{
    margin-left:10%;
}
.companyHeader{
    width:210px;
    margin-left:10px;
    border-bottom:1px solid black;

}
.item{
    display:block;
    width:75px;
    height:35px;
    font-family:Arial;
    background-color:#C10000;
    color:white;
    margin-top:5px;
    text-align:center;
    line-height:35px;

}
.item text{
    font-weight:bold;
}

/*Main company assignment table*/

#companyTableContainer{
    margin-top:35px;
    padding:0;
    display:inline-block;
    vertical-align:top;
    margin-left:375px;
}

#companyTable {
    height: 400px;
    width: 800px;
    margin:0;
    padding:0;
}

#companyTable tr td{
    border:1px solid;
    min-width:200px;
    height:75px;
}

#companyTable tr th{
    height:25px;
    background-color:#303030;
    color:white;
    text-align:center;
    font-family: Arial;
    border:1px solid #303030;
    padding:5px;
}
