@{ 
    ViewData["Title"] = "IMS Home";
}

<div class="row" style="height:100%;">
    <div class="col-xs-2 padding-left-remove padding-right-remove custom_sidebar_color" style="height:100%;">
        <div id="ims-sidebar-wrapper" style="height:100%;">
            <div id="ims-sidebar">
                <div id="countySelectionContainer">
                    <h6><u><b>Select a county:</b></u></h6>
                    <select id="county-selectbox" name="countySelection">
                        <option value="wayne">Wayne</option>
                        <option value="suquehanna">Susquehanna</option>
                        <option value="lackawanna">Lackawanna</option>
                        <option value="pike">Pike</option>
                    </select>
                </div>
                <!-- Start of new company template-->
                <div class="companyContainer">
                    <h5 class="companyHeader"><b>X</b></h5>
                    <div class="companyBody" ondragenter="drag_enter(event)" ondragleave="drag_leave(event)" ondragover="return false;" ondrop="drag_drop(event)">
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            43 ENG
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            43 TKR
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            43 RES
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            43 TWR
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            43 UTIL
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            43 CAR
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            43 LDR
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            43 SQD
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            43 DIV
                        </div>
                    </div>
                </div>
                <!-- end of new company template-->

                <div class="companyContainer">
                    <h5 class="companyHeader"><b>O's</b></h5>
                    <div class="companyBody" ondragenter="drag_enter(event)" ondragleave="drag_leave(event)" ondragover="return false;" ondrop="drag_drop(event)">
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            55 ENG
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            55 TKR
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            55 RES
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            55 TWR
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            55 UTIL
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            55 CAR
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            55 LDR
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            55 SQD
                        </div>
                        <div draggable="true" id="companyID" class="item" ondragstart="drag_start(event)">
                            55 DIV
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-xs-10 padding-left-remove padding-right-remove">
        <div id="companyTableContainer">
            <table id="companyTable">
                <tr>
                    <th>Ventillation</th>
                    <th>Interior/Fire Attack</th>
                    <th>Exterior Fire Attack</th>
                    <th>Search And Rescue</th>
                    <th>Exposure Protection</th>
                    <th>R.I.T</th>
                    <th>Rehab</th>
                    <th>Staging</th>
                </tr>
                <tr>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                </tr>
                <tr>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                </tr>
                <tr>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"><text style="display:none;" id="oof"></text></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                </tr>
                <tr>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                </tr>
                <tr>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                </tr>
                <tr>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                </tr>
                <tr>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                    <td ondragenter="drag_enter(event)" ondragover="return false" ondrop="drag_drop(event)"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

    <script src="~/js/GridDrag.js"></script>
