@{
    ViewData["Title"] = "Home Page";
}


<div id="ims_sidebar">
    <div class="row">
        <div class="col">
            <select multiple style="margin-top:25px; margin-left:10px; height:275px; width:250px;">
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
                <option value="a">aaaaaaaaaaaaaaaaaaaaaaaaa</option>
            </select>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>