@{
    ViewData["Title"] = "IMS";
}
<div class="row">
    <div class="col-xs-5 padding-left-remove">
        <div id="ims_sidebar-wrapper">
            <div id="ims_sidebar">
                <div class="row">
                    <div class="col">
                        <div id="countySelectionContainer">
                            <h6><u><b>Select a county:</b></u></h6>
                            <select id="county-selectbox" name="countySelection">
                                <option value="wayne">Wayne</option>
                                <option value="suquehanna">Susquehanna</option>
                                <option value="lackawanna">Lackawanna</option>
                                <option value="pike">Pike</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="companySidebarContainer">
                            <div class="companyContainer">
                                <h5 class="companyHeader"><b>Browndale Fire Co. No. 1</b></h5>
                                <div class="companyBody">
                                    <div draggable="true" class="item">
                                        <text>43 ENG</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 LDR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 CAR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 UTL</text>
                                    </div>
                                </div>
                            </div>
                            <div class="companyContainer">
                                <h5 class="companyHeader"><b>Browndale Fire Co. No. 1</b></h5>
                                <div class="companyBody">
                                    <div draggable="true" class="item">
                                        <text>43 ENG</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 LDR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 CAR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 UTL</text>
                                    </div>
                                </div>
                            </div>
                            <div class="companyContainer">
                                <h5 class="companyHeader"><b>Browndale Fire Co. No. 1</b></h5>
                                <div class="companyBody">
                                    <div draggable="true" class="item">
                                        <text>43 ENG</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 LDR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 CAR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 UTL</text>
                                    </div>
                                </div>
                            </div>
                            <div class="companyContainer">
                                <h5 class="companyHeader"><b>Browndale Fire Co. No. 1</b></h5>
                                <div class="companyBody">
                                    <div draggable="true" class="item">
                                        <text>43 ENG</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 LDR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 CAR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 UTL</text>
                                    </div>
                                </div>
                            </div>
                            <div class="companyContainer">
                                <h5 class="companyHeader"><b>Browndale Fire Co. No. 1</b></h5>
                                <div class="companyBody">
                                    <div draggable="true" class="item">
                                        <text>43 ENG</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 LDR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 CAR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 UTL</text>
                                    </div>
                                </div>
                            </div>
                            <div class="companyContainer">
                                <h5 class="companyHeader"><b>Browndale Fire Co. No. 1</b></h5>
                                <div class="companyBody">
                                    <div draggable="true" class="item">
                                        <text>43 ENG</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 LDR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 CAR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 UTL</text>
                                    </div>
                                </div>
                            </div>
                            <div class="companyContainer">
                                <h5 class="companyHeader"><b>Browndale Fire Co. No. 1</b></h5>
                                <div class="companyBody">
                                    <div draggable="true" class="item">
                                        <text>43 ENG</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 LDR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 CAR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 UTL</text>
                                    </div>
                                </div>
                            </div>
                            <div class="companyContainer">
                                <h5 class="companyHeader"><b>Browndale Fire Co. No. 1</b></h5>
                                <div class="companyBody">
                                    <div draggable="true" class="item">
                                        <text>43 ENG</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 LDR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 CAR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 UTL</text>
                                    </div>
                                </div>
                            </div>
                            <div class="companyContainer">
                                <h5 class="companyHeader"><b>Browndale Fire Co. No. 1</b></h5>
                                <div class="companyBody">
                                    <div draggable="true" class="item">
                                        <text>43 ENG</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 LDR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 CAR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 UTL</text>
                                    </div>
                                </div>
                            </div>
                            <div class="companyContainer">
                                <h5 class="companyHeader"><b>Browndale Fire Co. No. 1</b></h5>
                                <div class="companyBody">
                                    <div draggable="true" class="item">
                                        <text>43 ENG</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 LDR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 CAR</text>
                                    </div>
                                    <div draggable="true" class="item">
                                        <text>43 UTL</text>
                                    </div>
                                </div>
                                <div id="spacer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-7 col-xs-offset-2">
        <div id="companyTableContainer">
            <table id="companyTable">
                <tr>
                    <th>Ventillation</th>
                    <th>Interior/Fire Attack</th>
                    <th>Exterior Fire Attack</th>
                    <th>Search/Rescue</th>
                    <th>Exposure Protection</th>
                    <th>R.I.T</th>
                    <th>Rehab</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>