
@{
    ViewData["Title"] = "Admin";
}

<h2 id="test">{{message}}</h2>


<script>
    var app = new Vue({
        el: '#test',
        data: {
            message: 'Hello Vue!'
        }
    })
</script>

